services:
  nigginx_prod:
    extends:
      file: docker-compose.raw.yml
      service: nigginx_raw
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Nigginx/default.prod.conf:/etc/nginx/conf.d/default.conf:ro
      - /etc/letsencrypt/live/[DOMAIN]/fullchain.pem:/etc/letsencrypt/live/[DOMAIN]/fullchain.pem:ro
      - /etc/letsencrypt/live/[DOMAIN]/privkey.pem:/etc/letsencrypt/live/[DOMAIN]/privkey.pem:ro
    depends_on:
      - main_server_prod
      - minio_prod
  
  minio_prod:
    extends:
      file: docker-compose.raw.yml
      service: minio_raw
  
  postgresMainDb_prod:
    extends:
      file: docker-compose.raw.yml
      service: postgresMainDb_raw
  
  main_server_prod:
    extends:
      file: docker-compose.raw.yml
      service: main_server_raw
    
    build:
      args:
        BUILD_CONFIGURATION: Release
    
    environment:
      FeatureManagement_StagingThings: false
      ASPNETCORE_ENVIRONMENT: Production
      CustomWorkingDir: "/data"
      AssemblyDirectoryPath: "/app"
    volumes:
      - main_server_storage:/data
      #- ./[ProjectDir]/ExtraConfigs:/app/ExtraConfigs:ro


volumes:
  minio_storage:
  main_server_storage:
  postgresMainDb_storage: